.custom-container{
  background:#92b5ca;
}

.home-intro{
  height: 65vh;
  background: #fff;
  margin: auto;
  color: #1c1e21;
  line-height: 1.34;
  padding: 16px;
  border-radius: 16px;
  overflow-y: auto;
}

.custom-btn{
  height: 5vh;
}
