



.auth-intro{

  display: flex;
  align-items: center;
  justify-content: end;
   color: #1877f2;

}

.custom-form{
    background: #fff;
    color: #1c1e21;
    line-height: 1.34;
    margin: 0;
    height: 52vh;
    padding: 16px;
    border-radius: 16px;
}

.create-btn{
  margin: auto;
}
