/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


*{
  box-sizing: border-box;
  margin:0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

.custom-container{
  width: 100vw;
  background: #f0f2f5;
  height: 100vh;
}

.custom-row{

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #1e24080a;
}

*::-webkit-scrollbar-thumb {
  background-color: #1a1a76;
  border-radius: 20px;
  border: 3px solid #473f32;
}
